header {
    background-color: blueviolet;
    height: 100px;
}
main {
    background-color: rgb(204, 124, 124);
    height: 500px;
}
/* aside { */
    /* background-color: salmon;
    height: 500px;
    width: 30%;
    float: left;
    opacity: 0.1; */
/* } */
.left {
    height: 500px;
    width: 20%;
    float: left;
}
.content {
    background-color: skyblue;
    width: 60%;
    float: left;
    height: 500px;
}
.right {
    background-color: rgb(59, 126, 87);
    width: 20%;
    float: left; 
    height: 500px;
}
/* article {
    background-color: skyblue;
    width: 70%;
    float: left;
} */
footer {
    background-color: springgreen;
    height: 100px;
    clear: both;
}
li {
    padding:0;
    margin:0;
    position: relative;
    float: left;
    list-style: none;
    margin: 0;
    padding:0;
    width:100px;
    height: 30px;
    display: block;
    text-decoration:none;
    text-align: center;
    line-height: 30px;
    /* background-color: black; */
    color: white;
    width: 200px;
    text-align: left;
    padding-left: 10px;
    top: 30px;
    left: 15px;
    box-sizing: border-box;
